<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Spill.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Spill.My.MySettings>
            <setting name="username" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="screensize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="multicore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ant_kaffe" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="highest_score" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ant_dod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="musikk_on" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sfx_on" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_fps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dev_console" serializeAs="String">
                <value>False</value>
            </setting>
        </Spill.My.MySettings>
    </userSettings>
</configuration>